
{% extends "ADLearningBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row jumbotron text-center">
            <h2>Link a module to a course</h2>
        </div>
        {% if error_message is not null %}
        <div class="alert {{ state }}"> {{ error_message }}</div>
        {% endif %}
        {{ form_start(form) }}
        <ul class="dropdown-menu">
            {% for course in form.courses%}
                <li>{{ form_row(course.courseName) }}</li>
                {% endfor %}
        </ul>
        <ul class="dropdown-menu">
            {% for module in form.modules%}
                <li>{{ form_row(module.moduleName) }}</li>
                {% endfor %}
        </ul>
        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>
{% endblock %}
